/* app/static/css/style.css */
/* แทนที่ @tailwind base; ด้วย: */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --bg-main: #ffffff;
    --text-main: #1a202c;
}

.dark {
    --bg-main: #1a202c;
    --text-main: #f7fafc;แ
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
    transition: background-color 0.3s, color 0.3s;
}